html, body, #wrapper, #main-content, #main-grid
{
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}

#main-nav
{
	min-height: 30px;
}

#main-nav .container-fluid
{
	padding-left: 0px;
	//padding-right: 0px;
	-webkit-app-region: drag;
}

#window-operations
{
	-webkit-app-region: no-drag;
}

.min-op-icon:hover, .max-op-icon:hover, .close-op-icon:hover
{
	background-color: #444444;
}

.close-op-icon:hover
{
	background-color: #8E151F;
}

.min-op-icon span, .max-op-icon span, .close-op-icon span
{	
    width: 16px;
    display: inline-block;
}

.min-op-icon span
{
	background: url("../images/minimize.png") no-repeat;
}

.max-op-icon span
{
	background: url("../images/restore.png") no-repeat;
}

.close-op-icon span
{
	background: url("../images/close.png") no-repeat;
}

#main-panes
{
	height: 100%;
	min-height: 100%;
	margin-bottom: -40px;
}

#footer
{
	height: 40px;
	min-height: 40px;
	background-color: #333333;
}